#tinymce {
	font-family: Verdana;
	width: 575px;
}


div.alignright,img.alignright, a img.alignright {float:right; margin:1em 0em 1em 1em}
div.alignleft,img.alignleft, a img.alignleft {float:left; margin:1em 1em 1em 0}
div.aligncenter,img.aligncenter, a img.aligncenter {display: block; margin-left: auto; margin-right: auto;margin-top: 1em;margin-bottom: 1em}
img.alignnone, img.size-full {display: block;clear:both;margin-bottom: 1em;margin-top: 1em;}



div.wp-caption {
	padding: 4px;
	background: #eee;
	font-size: 0.9em;
	border: solid 1px #d3d3d3;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}


div.wp-caption img {
	padding: 0; margin: 0;
}


h1,h2,h3,h4,h5,h6 {
	line-height: 100%;
}

address {
	background: #FFF;
	padding: 0.5em;
	width: auto;
	clear: both;
	border-left: solid 3px #9FD0D5;
}

p {
	margin-bottom: 1.8em;
}

ul {
	list-style: square;
	margin: 0 0 18px 0;
	padding: 0;
	color: #666;
}

ul li ul, ol li ol {
	margin-bottom: 0.5em;
}


ol {
	list-style: decimal;
	margin: 0 0 18px 0;
	color: #666;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
	margin: 1em 0 1em 0;
}
blockquote {
	background: #FFF;
	border-left: solid 3px #d3d3d3;
	font-style: normal;
	padding: 0.5em;
	padding-left: 1em;
	margin: 1em 0 1em 0;
	font-family: Serif;
	color: #666;
}


blockquote blockquote {
	background: lightgoldenrodyellow;
}


blockquote blockquote blockquote {
	background: lightcyan;
}


blockquote p {
	margin-bottom: 0.3em;
}


blockquote cite {
	font-weight: bold;
	color: #333;
}


blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1em;
	font-family: "Courier 10 Pitch", Courier, monospace;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}


table {
	border: 1px solid #d3d3d3;
	border-bottom: none;
	text-align: left;
	width: 100%;
}

tr {
	border-bottom: solid 1px #d3d3d3;
}


tr.alternate {
	background: lightgoldenrodyellow;
}



th {
	text-align: left;
	background: #666;
	color: #FFF;
}

th, td {
	padding: 0.3em;
}




a:link {
	color: #0066cc;
}
a:visited {
	color: #743399;
}
a:active,
a:hover {
	color: #ff4b33;
}