div.menu-hr-box {
    margin-bottom: 20px;
    text-align: center;
    border-bottom: solid 1px #EEEEEE;
}

div.menu-hr-box.left { text-align: left }

div.menu-hr-box ul  {
    display: inline;
    list-style: none;
}

div.menu-hr-box ul li {
	position: relative;
	list-style: none;
	display: inline-block;
	 margin: 0 15px 0 0;
	height: 30px;
}

div.menu-hr-box ul li a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 8px 0 8px;
    font-size: 1.1em;
    font-family: Verdana;
    color: #333;
}

div.menu-hr-box ul li:hover, div.menu-hr-box ul li:hover a { color:#FFF;background: #666;text-shadow:0px 0px 4px #FFF; }

div.menu-hr-box ul li a:hover { color:#FFF;background: #666;text-shadow:0px 0px 4px #FFF; }

div.menu-hr-box ul li.current-menu-item a {
    text-decoration: underline;
    /*    color: #6D87D6;*/
}



/*making a dropdown menu*/
div.menu-hr-box ul li ul.sub-menu, div.menu-hr-box ul li ul.children {
    display: none;
    position: absolute;
    top: auto;
    left: 0;
}


div.menu-hr-box ul li:hover ul.sub-menu, div.menu-hr-box ul li:hover ul.children {
    display: block;
    z-index: 999;
    margin-top: -2px;
    padding: 0px;
}
div.menu-hr-box ul li:hover ul.sub-menu li,div.menu-hr-box ul li:hover ul.children li {
    padding: 0px;
    margin: 0px;
    display: block;
    height: 3em;
}
div.menu-hr-box ul li:hover ul.sub-menu li a, div.menu-hr-box ul li:hover ul.children li a {

    font-size: 1em;
    font-weight: normal;
/*    background: #93c73f;*/
    background: #EEE;
/*    color: #ffffff;*/
    color:#2583AD;
    width: 170px;
    padding-left: 6px;
    text-decoration: underline;
    text-align: left;
    text-transform: capitalize;
    margin: 0px;
}


div.menu-hr-box ul.sub-menu li>ul.sub-menu {
	display: none;
}


div.menu-hr-box ul.sub-menu li:hover>ul.sub-menu {
	display: block;
	
	position: absolute;
	top: 2px;
	left: 167px;
}


div.menu-hr-box ul.sub-menu li:hover ul.sub-menu li a {
	background: #666;
	color: #FFF;
	text-shadow: none;
	border-left: solid 1px #FFF;
}


div.menu-hr-box ul.sub-menu li:hover ul.sub-menu li a:hover {
	background: #666;
	color: #FFF;
	text-decoration: none;
}



div.menu-hr-box ul li:hover ul.sub-menu li a:hover, div.menu-hr-box ul li:hover ul.children li a:hover {
	text-decoration: none;
	background:#ededff;
}

/*end of dropdown menu css*/



div.menu-hr-box.footer-menu {
	border: none;
}


