html,body {
	background: #eee;
/*	color: pink;*/
/*	background: url('./img/karachi.gif');*/
	background: url('./img/hearts.jpg');
}

#main-wrapper {
	background: #FFF;
	padding-top: 2em;
	border: solid 2px #d3d3d3;
}


#copyright {
	color: #FFF;
}