/**
* Skin name: Default Bukvar
* Scripts: functions
*/

html,body {
	background: #eee;
/*	color: pink;*/
	background: url('./img/karachi.gif');
/*	background: url('./img/hearts.jpg');*/
}

#main-wrapper {
	background: #FFF;
	padding-top: 2em;
	border: solid 2px #d3d3d3;
	padding-left: 2em;
	padding-bottom: 2em;
}


#logo a {
	background: url('./img/logo.png') right no-repeat;
}


#logo-small a {
	background: url('./img/logo-small.png') right no-repeat;
}


#copyright {
	color: #FFF;
}


div.incategory-entry div.wp-post-thumbnail {
	float: left;
}


div.incategory-entry div.wp-post-full-content {
	margin-right: 0;
	margin-left: 120px;
	border-left: solid 1px #eee;
	padding-left: 1em;
}


div.incategory-entry div.wp-post-full-content:hover {
	color: #333;
	border-left: solid 1px #d3d3d3;
}



div.incategory-entry div.wp-post-full-content.no-thumb {
	margin-left: 0;
	border-left: none;
}


div.wp-post-entry-featured {
	text-align: center;
}


input#s {
	margin-right: 0px;
	width: 350px;
	border: solid 2px #d3d3d3;
}


#searchsubmit {
	width: 10px;
	margin-left: -25px;
	border: none;
	border-left: solid 1px #d3d3d3;
	background: #FFF url('./img/search_icon.png') no-repeat 1%;

	text-indent: -999px;
}


#searchsubmit:active {
	border: none;
}



div.banner-small {
	text-align: center;
	margin-bottom: 1em;
}


div.wp-post-entry {
	padding-left: 0;
	padding-bottom: 1em;
	border-bottom: dotted 1px #d3d3d3;
}



h3.wp-post-title a, h1.wp-singlepost-title a {
	color: #333;
}


h3.wp-post-title a:hover {
	color:#666;
}



div.wp-post-entry-featured {
	text-align: right;
	position: relative;
}


h3.wp-post-title-featured.with-thumb {
	display: inline;
	clear: both;

	float: right;
	position: absolute;
	top: 0.5em;
	right: 0;
}



div.menu-hr-box ul li:hover ul.sub-menu li a, div.menu-hr-box ul li:hover ul.children li a {
	border-top: dotted 1px #d3d3d3;
/*	border-left: solid 2px #666;*/
}



div.wp-post-thumbnail-featured img {
	border: solid 1px #d3d3d3;
	padding: 0.2em;
	border-radius: 2px;
}



div.wp-post-entry-featured:hover img {
	border: solid 1px #333;
}



h3.wp-post-title-featured a {
	color: #13455b;
}


h3.wp-post-title-featured a:hover {
	color: #666;
}



.single-cat-title {
	background: lightgoldenrodyellow;
	color: #666;

	padding-left: 0.5em;
	padding-right: 0.5em;
	border-left: solid 1px #d3d3d3;
}


div.wp-post-entry.sticky {
	background: #e6e6e6 url('./img/sticky_bg.png') left repeat-y;
	border-left: none;
	border-bottom: none;
	padding-left: 1em;
}


.wp-entry-author-info {
	background: #eee;
	padding: 0.5em;
	padding-top: 0.8em;

	width: 90%;
	border-top: solid 2px #d3d3d3;
}

.author-bio-avatar img {
	padding: 0.2em;
	background: #FFF;
	border: solid 1px #d3d3d3;
}


div.wp-singlepost-thumb {
	background: #FFF;
	padding: 0.3em;
	padding-bottom: 0.2em;
	width: 80%;
}


div.wp-singlepost-thumb img {
	padding: 0.2em;
	background: #FFF;
	border: solid 1px #d3d3d3;
}


p.wp-singlepost-thumb-caption {
/*	display: inline-block;*/

	width: 80%;
	font-size: 1.2em;
	background: #FFF;
/*	background: lightcyan;*/

	margin-bottom: 0.3em;
	margin-top: 0;
	padding: 0.1em;
	padding-left: 1em;

	border-left: solid 1px #d3d3d3;

	font-style: italic;

	color: #666;
}


div#comments {
	border-bottom: none;
	margin-bottom: 2em;
}


div#respond p.form-allowed-tags {
	font-size: 0.9em;
}


.bypostauthor span.comment-author-name {
	color: #d40000;
	font-weight: bold;
}